*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
.parent{
    display:flex ;
    flex-wrap: nowrap;
    overflow: auto;
}
.box{
    height: 200px;
    width: 200px;
    background-color: rgb(88, 88, 129);
    flex-shrink: 0;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(60, 60, 165);
}
.box3{
    height: 200px;
    width: 200px;
    background-color: rgb(17, 17, 116);

}
