*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: white;
   
}
main{
    height: 100%;
    width: 100%;
    background: #000;   
     display: grid;
     /* grid-template-columns: repeat(3,33.3%);
     grid-template-rows: repeat(3,33.3%); */
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: 
     "top-center top-center top-center"
     "left-center mid right-center"
     "left-bottom mid right-bottom";
}
.top-center{
    background: brown;
    /* grid-column: 1/4;
    grid-row: 1/2; */
    grid-area: top-center;
}
.left-center{
    background: rgb(92, 28, 28);
    /* grid-column: 1/2;
    grid-row: 2/3; */
    grid-area:left-center;
}
.mid{
    background: #a48080;
    /* grid-column: 2/3;
    grid-row: 2/4; */
    grid-area:mid;
}
.left-bottom{
    background: #4d1414;
    /* grid-column: 1/2;
    grid-row: 3/4; */
    grid-area:left-bottom;
}
.right-center{
    background: #a74545;
    grid-area:right-center;
    
}
.right-bottom{
    background: #601a1a;
    grid-area:right-bottom;
}
