*{
    margin: 0%;
    padding: 0%;
}
html , body{
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
}

h1{
    background-color: red;
    font-size: 50px;
    width: 50%;
    max-width: 250px;
    display: inline-block;
}
#box{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;  
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
img:hover{
    animation-play-state: paused;
}

img{
    height: 400px;
    width: 300px;
    position: absolute;
    top:250px;
    animation-name: move;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
/* @media (max-width:500px) {
    #box{
        background-color:rgb(54, 54, 54);
        border-radius: 30%;
    }
    h1{
        background-color:rgb(5, 37, 125);
        font-size: 30px;
    }
} */
/* @media (min-width:300px) and (max-width:400px) {
    #box{
        background-color:rgb(5, 37, 125);
        border-radius: 50%;
    }
    h1{
        background-color:rgb(71, 171, 64);
        font-size: 20px;
    }
} */
@keyframes move {
    0%{
        left:0;

    }
    50%{
        top: 0;
        left: 80% ;
    }
    100%{
        left:60%;

        border-radius: 30%;
        rotate: 360deg;

    }
}


/* all above are now useless , as i have deleteted all element from the htlml . */

.parent{
    background: red;
    overflow: hidden;
    display: flex;
}
.inner{
    background: crimson;
    display: flex;
    animation-name: motion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
h4{

    display: flex;
    background: cornflowerblue;
    padding: 10px;
    font-size: 50px;
    
}

@keyframes motion {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);

    }
}