*{
    margin: 0;
    padding-inline: 0;
    background: #000;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;

}
nav{
    margin: 20px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4{
    font-size: 30px;
    position: relative;

}

h4::after{
    content: "" ; 
    height: 3px;
    width: 10
    0%;
    background-color: red;
    position:absolute;
    left: 0;
    bottom: 0;
}